.job-item {
  margin-top: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.job-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.company-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.company-logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.company-name {
  font-size: 1.2rem;
  margin-top: 0.3rem;
  font-weight: 700;
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
}

.job-details {
  margin-top: 10px;
}

.job-description-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(22, 22, 22, 0.897);
  cursor: pointer;
  margin-top: 1.8rem;
}

.job-description-text {
  margin-top: 12px;
  font-size: bold;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.job-info {
  display: flex;
  gap: 50px;
}

.job-title {
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: 700;
}
.job-type,
.job-location,
.job-pay {
  font-size: 1rem;
  color: #3b3b3b;
  margin: 1px;
  font-weight: 600;
}

.job-date {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #8d8c8c;
  border-radius: 4px;
  padding: 5px 10px;
}
hr {
  margin: 20px 0; /* Adjust the margin as needed to control the space above and below the line */
  border: none; /* Remove the default border */
  border-top: 1px solid #e0e0e0; /* Add a top border to create the line */
}
.company-logo-name {
  display: flex;
}

@media screen and (max-width: 500px) {
  .company-info {
    display: initial;
  }

  .job-date {
    all: initial;
    color: #8d8c8c;
  }

  .company-logo-name {
    margin-bottom: 1rem;
  }
}
