.footer {
  text-align: center;
  background-color: var(--color-primary);
  padding: 3rem 0;
  margin-top: 5rem;
  color: var(--font-gray);
  font-size: var(--font-sm);
}

.logo {
  color: var(--font-white);
  font-size: var(--font-xl);
  font-weight: var(--font-wt-bold);
  margin-bottom: 0.5rem;
}

.social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}

.social-link {
  border: 1px solid var(--color-gray);
  padding: 0.2rem;
  background-color: rgb(230, 230, 230);
  font-size: var(--font-xl);
  border-radius: 50%;
  opacity: 0.5;
  color: var(--font-gray);
}

.social-link:hover {
  background-color: #ffffff;
  color: var(--color-primary);
  opacity: 1;
}

@media screen and (min-width: 612px) {
  .company {
    width: 25%;
    margin-inline: auto;
  }
}
