.testimonial-item {
  position: relative;
  gap: 1rem;
  margin: 1rem 0rem 2rem 0rem;
  width: 100%;
  padding: 1rem;

  height: 320px;

  background-color: var(--color-gray);
  border-radius: 1rem;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: var(--transition);
}

.image {
  width: 2.8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.user-details {
  gap: 0.3rem;
}

.name {
  font-size: 1.2rem;
  font-weight: var(--font-wt-bold);
}

.position {
  font-weight: var(--font-wt-semibold);
}

.position,
.testimonial-item p {
  font-size: var(--font-sm);
  color: var(--font-gray);
}

@media screen and (min-width: 612px) {
  .testimonial-item {
    max-width: 20rem;
  }
}
