* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-sm: 0.8rem;
  --font-md: 1rem;
  --font-lg: 1.2rem;
  --font-xl: 1.8rem;
  --font-2xl: 2.2rem;
  --font-black: rgb(21, 20, 20);
  --font-gray: rgb(128, 120, 120);
  --font-white: rgb(250, 247, 247);
  --font-wt-light: 300;
  --font-wt-normal: 400;
  --font-wt-semibold: 500;
  --font-wt-bold: 600;

  --color-primary: #081421;
  --color-gray: rgb(252, 252, 252);
  --color-bg: rgb(240, 240, 240);

  --container-lg: 75%;
  --container-md: 85%;
  --container-sm: 90%;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

.btn {
  cursor: pointer;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: var(--font-sm);
  font-weight: var(--font-wt-semibold);
  transition: var(--transition);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--font-white);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: inherit;
  color: var(--font-black);
  border: 1px solid var(--color-primary);
}

.btn-transparent {
  background-color: inherit;
  color: var(--font-black);
  border: 1px solid var(--color-primary);
}

.btn-transparent:hover,
.btn:focus {
  background-color: var(--color-primary);
  color: var(--font-white);
  border: none;
}

.container {
  width: var(--container-sm);
  margin-inline: auto;
}

@media screen and (min-width: 612px) {
  .container {
    width: var(--container-md);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: var(--container-lg);
  }
}

main {
  padding-top: 5rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}
